<a href="#/events"><h1>London GD Handball Events</h1><a>

<div data-replace="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <a href="#/events" aria-hidden="true">&times;</a>
        <a href="#/events" class="sr-only">Close</a>
      </button>
      <h4 class="modal-title" id="modal-event-label">Modify event</h4>
    </div>

    <form role="form" name="event_form" novalidate data-ng-submit="eventForm()">
      <div class="modal-body">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control input-lg" placeholder="Enter name" id="description" data-ng-model="event.name" required>
        </div>

        <div class="form-group">
          <label for="team">Event type</label>
          <select data-ng-model="event.type" class="form-control input-lg" required>
            <option data-ng-repeat="eventType in eventTypeList" value="{{eventType}}">
              {{eventType}}
            </option>
          </select>
        </div>

        <div class="form-group team-group">
          <strong>Teams</strong>
          <ul>
            <li data-ng-repeat="team in selectedTeams" class="team-item">
              <input type="checkbox" data-ng-model="team.selected">
              <label for="team-{{team.id}}" class="team-label">{{team.name}}</label>
            </li>
          </ul>
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control input-lg" data-ng-model="event.date" required>
        </div>

        <div class="form-group">
          <label for="time">Time</label>
          <input type="time" class="form-control input-lg" data-ng-model="event.time" required>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control input-lg" placeholder="Enter description" id="description" data-ng-model="event.description">
        </div>

      </div>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-event-label">Modify participants</h4>
      </div>

      <div class="col-md-6">
        <h4>Not selected</h4>
        <table class="table table-players table-not-selected">
          <tr data-ng-repeat="player in members | filter: {id_event:'!'} | orderBy: 'name'"
            id="player-{{player.id}}"
            ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete($data, $event)">

            <td class="playerImage">
              <div ng-show="player.image">
                <a href="{{siteUrl}}/images/uploadsgd/thumb_400/{{player.image}}" title="{{player.name}}" class="fancybox">
                  <img src="{{siteUrl}}/images/uploadsgd/thumb_250/{{player.image}}" class="img-responsive"/>
                </a>          
              </div>
              <div ng-show="!player.image">
                <img src="{{siteUrl}}/images/logoempty1.jpg" />
              </div>
            </td>

            <td class="details1">
              <h3>{{player.name}}</h3>
            </td>

          </tr>
        </table>
      </div>

      <div class="col-md-6" ng-drop="true" ng-drop-success="onDropComplete($data, $event)">
        <h4 width="100%">Selected</h4>
        <table class="table table-players table-selected">
          <tr data-ng-repeat="player in members | filter: {id_event:'!!'} | orderBy: 'name'"
            id="player-{{player.id}}">

            <td class="playerImage">
              <div ng-show="player.image">
                <a href="{{siteUrl}}/images/uploadsgd/thumb_400/{{player.image}}" title="{{player.name}}" class="fancybox">
                  <img src="{{siteUrl}}/images/uploadsgd/thumb_250/{{player.image}}" class="img-responsive"/>
                </a>          
              </div>
              <div ng-show="!player.image">
                <img src="{{siteUrl}}/images/logoempty1.jpg" />
              </div>
            </td>

            <td class="details1">
              <h3>{{player.name}}</h3>
            </td>

          </tr>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="event_form.$invalid">Save modifications</button>
      </div>
      
    </form>
  </div>
</div>
