<h1>London GD Handball Events</h1>
<table class="table table-players">
    <tr data-ng-repeat="event in eventList | orderBy : 'date' : reverse=true">
      <td class="details1">
        <div class="team">{{event.date | stringToTimestamp | date:'EEE dd MMM yyyy, H:mm'}}</div>
        <h3>{{event.name}}</h3></td>
      <td>State: {{event.state}}</td>
      <td>Created by: {{event.created_by_name}} (id: {{event.created_by}})</td>
      <td>Type: {{event.type}}</td>
      <td>Team: {{event.team}}</td>
      <td>Description: {{event.description}}</td>
      <td>Price: &pound;{{event.price}}</td>
    </tr>
</table>
</div>

<style>
.table-events h3 {
  font-size: large;
}
</style>